<a href="https://colab.research.google.com/github/G544/good_mood/blob/main/%D0%9F%D0%BE%D0%B4%D1%81%D1%87%D0%B5%D1%82_%D1%81%D1%83%D0%BC%D0%BC%D1%8B_%D0%B7%D0%B0%D0%BA%D0%B0%D0%B7%D0%B0_c%20%D0%B7%D0%B0%D0%B3%D1%80%20%D0%BA%D1%8D%D0%B3%D0%BB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
%matplotlib inline
import seaborn as sns
import datetime

## Подсчет суммы заказа в месяц на одного пользователя

In [2]:
month='01'
day_list=['01','11','21','31']
#РАБОТАЕТ НЕ ТРОГАй
def li_read(month, day): # считывает
    print('li_'+str(month)+'_'+str(day))
    globals()['li_'+str(month)+'_'+str(day)]=pd.read_csv('/content/drive/My Drive/гуд муд/line_items{month}/line_items_2020-{month}-{day}.csv'.
                      format(month=month, day=day))



def gp_price(month,day): # считает цену
  gp= globals()['li_'+str(month)+'_'+str(day)].groupby('shipment_id')[['price']].sum()
  pr_shp=pd.DataFrame()
  pr_shp['shipment_id']=gp.index
  pr_shp['price']=np.array(gp['price'])
  return pr_shp
  

def merge_for_day(month, day,val1,val2):
  new_df=pd.merge(val1,val2,on='shipment_id', how='outer')
  cols=np.array(new_df.columns)
  new_df.rename(columns={cols[-1]:'price{d}'.format(d=day)},inplace=True)
  return new_df

In [3]:
month='01'
day_list=['11','21','31']
day0='01'
# !!!! РАБОТАЕТ НЕ ТРОГАй. УБЬЮ
def price_for_month(month, day_list, first_day): # В day_list не указывать первый день
  day0=first_day
  li_read(month, day0)
  val=gp_price(month,day0)

  for day in day_list:
    li_read(month, day)
    val_tmp=gp_price(month,day)
    tmp_df=merge_for_day(month, day,val,val_tmp)
    val=tmp_df



  val.fillna(0, inplace=True)
  cols = np.array(val.columns)[1:val.shape[1]]
  table_for_month = val.eval("price = {}".format("+".join(cols))).drop(columns=cols)
  return table_for_month

In [ ]:
# Пример вызова 
month='01'
day_list=['11','21','31']
day0='01'
m1=price_for_month(month, day_list, day0)
m='02'
day0='10'
day=['20']
m2=price_for_month(m, day, day0)
m='03'
day0='01'
day=['11','21','31']
m3=price_for_month(m, day, day0)
m='04'
day0='10'
day=['20','24','26','28','30']
m4=price_for_month(m, day, day0)

In [8]:
var_names=[li_01_01,li_01_11,li_01_21,li_01_31,li_02_10,li_02_20,
           li_03_01,li_03_11,li_03_21,li_03_31,li_04_10,li_04_20,
           li_04_24,li_04_26,li_04_28,li_04_30]

del var_names

In [ ]:
m='05'
day0='02'
day=['04','06','08','10','12','14','16','18','20','22','24','26','28','30']
m5=price_for_month(m, day, day0)
m='06'
day0='01'
day=['03','05','07','09','11','13','15','17','19','21','23','25','27','29']
m6=price_for_month(m, day, day0)
m='07'
day0='01'
day=['03','05','07','09','11','13','15','17','19','21','23','25','27','29','31']
m7=price_for_month(m, day, day0)
m='08'
day0='02'
day=['04','06','08','10','12','14','16','18','20','22','24','26','28','30']
m8=price_for_month(m, day, day0)

In [10]:
var_names2=[li_05_02,li_05_04,li_05_06,li_05_08,li_05_10,li_05_12,li_05_14,li_05_16,
            li_05_18,li_05_20,li_05_22,li_05_24,li_05_26,li_05_28,li_05_30,li_06_01,
            li_06_03,li_06_05,li_06_07,li_06_09,li_06_11,li_06_13,li_06_15,li_06_17,
            li_06_19,li_06_21,li_06_23,li_06_25,li_06_27,li_06_29,li_07_01,li_07_03,
            li_07_05,li_07_07,li_07_09,li_07_11,li_07_13,li_07_15,li_07_17,li_07_19,
            li_07_21,li_07_23,li_07_25,li_07_27,li_07_29,li_07_31,li_08_02,li_08_04,
            li_08_06,li_08_08,li_08_10,li_08_12,li_08_14,li_08_16,li_08_18,li_08_20,
            li_08_22,li_08_24,li_08_26,li_08_28,li_08_30]
del var_names2

In [11]:
ship01=pd.read_csv('/content/drive/My Drive/гуд муд/shipments/shipments2020-01-01.csv')
ship03=pd.read_csv('/content/drive/My Drive/гуд муд/shipments/shipments2020-03-01.csv')
ship04=pd.read_csv('/content/drive/My Drive/гуд муд/shipments/shipments2020-04-30.csv')
ship06=pd.read_csv('/content/drive/My Drive/гуд муд/shipments/shipments2020-06-29.csv')

In [12]:
adr_ship_01=pd.DataFrame(ship01['ship_address_id'])
adr_ship_01['shipment_id']=(ship01['shipment_id']) # Соответствие id  доставки и адресса
adr_ship_03=pd.DataFrame(ship03['ship_address_id'])
adr_ship_03['shipment_id']=(ship03['shipment_id']) # Соответствие id  доставки и адресса
adr_ship_04=pd.DataFrame(ship04['ship_address_id'])
adr_ship_04['shipment_id']=(ship04['shipment_id']) # Соответствие id  доставки и адресса
adr_ship_06=pd.DataFrame(ship06['ship_address_id'])
adr_ship_06['shipment_id']=(ship06['shipment_id']) # Соответствие id  доставки и адресса

In [15]:
del ship01,ship03,ship04,ship04,ship06

NameError: ignored

In [16]:
tmp1=pd.concat([adr_ship_01,adr_ship_03])
tmp1.reset_index(inplace=True)
tmp2=pd.concat([tmp1,adr_ship_04])
del tmp1
tmp2.reset_index(inplace=True)
tmp3=pd.concat([tmp2,adr_ship_06]) # Индексы не сброшены, но хз, почему они не сбрасываются
del tmp2
#tmp3.reset_index(inplace=True)
adr_book_ship=tmp3
del tmp3

In [18]:
#tmp1=pd.concat([m1,m2,m3,m4,m5,m6,m7,m8])

In [43]:
ship_id=pd.merge(adr_book_ship,m1, on='shipment_id', how='left')
ship_id=pd.merge(ship_id,m2, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-2]:'price{m}'.format(m=1)},inplace=True)
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=2)}, inplace=True)
del cols
ship_id=pd.merge(ship_id,m3, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=3)},inplace=True)
ship_id=pd.merge(ship_id,m4, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=4)},inplace=True)
ship_id=pd.merge(ship_id,m5, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=5)},inplace=True)
ship_id=pd.merge(ship_id,m6, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=6)},inplace=True)
ship_id=pd.merge(ship_id,m7, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=7)},inplace=True)
ship_id=pd.merge(ship_id,m8, on='shipment_id', how='left')
cols=ship_id.columns
ship_id.rename(columns={cols[-1]:'price{m}'.format(m=8)},inplace=True)
ship_id.fillna(0, inplace=True)

In [44]:
del m1,m2,m3,m4,m5,m6,m7,m8

In [45]:
ship_id

         level_0  index  ship_address_id  ...  price6  price7  price8
0            0.0    0.0           171906  ...     0.0     0.0     0.0
1            1.0    1.0           278832  ...     0.0     0.0     0.0
2            2.0    2.0           468407  ...     0.0     0.0     0.0
3            3.0    3.0            61962  ...     0.0     0.0     0.0
4            4.0    4.0           378297  ...     0.0     0.0     0.0
...          ...    ...              ...  ...     ...     ...     ...
2260681      0.0    0.0         12102714  ...     0.0     0.0     0.0
2260682      0.0    0.0         12540588  ...     0.0     0.0     0.0
2260683      0.0    0.0         12540591  ...     0.0     0.0     0.0
2260684      0.0    0.0         12540602  ...     0.0     0.0     0.0
2260685      0.0    0.0         12519984  ...     0.0     0.0     0.0

[2260686 rows x 12 columns]

In [10]:
cols=ship_id.columns
price_month=ship_id.groupby('ship_address_id')[np.array(cols)[-8:]].sum()
price_month['id']=price_month.index

In [11]:
del ship_id

In [13]:
phone_id=pd.read_csv('/content/drive/My Drive/гуд муд/misc/addresses.csv')
us_id=pd.merge(phone_id,price_month, on='id', how='left')

In [17]:
us_id.fillna(0,inplace=True)
us_id.drop('id', axis=1, inplace=True)

## Разбиение на обучающую и тестовую выборку
Отделяем последний месяц price8 и счиатем его целевой перемнной, в teste отделяем первый месяц 'price1' и присоединяем 'price8'

In [96]:
cols=us_id.columns
my_group=us_id.groupby('phone_id')[np.array(cols)[-8:]].sum()
data=my_group.drop('price8', axis=1)
test=my_group
test.drop('price1', axis=1,inplace=True)
target=my_group['price8']

## Модель

In [67]:
from sklearn.linear_model import Ridge
from sklearn.metrics import f1_score

In [80]:
rg=Ridge()
rg.fit(data,target)

Ridge(alpha=1.0, copy_X=True, fit_intercept=True, max_iter=None,
      normalize=False, random_state=None, solver='auto', tol=0.001)

## Прогноз суммы покупки

In [84]:
pr=rg.predict(test)

In [82]:
# функция для классификации churn
def por(data, c):
  df=pd.DataFrame(np.array(data))
  df['res']=[int(s>c) for s in data]
  return np.array(df['res'])

In [107]:
predict=por(pr,1000)
real=por(target,1000)

In [138]:
 print('f-мера:')
 print(f1_score(predict,real))

f-мера:
0.8064328528988778

In [125]:
prprpr=pd.DataFrame(predict)
prprpr['Id']=data.index
data.index

In [117]:
data.index

Int64Index([     1,      2,      3,      4,      5,      6,      7,      8,
                 9,     10,
            ...
            719365, 719366, 719367, 719368, 719369, 719370, 719371, 719372,
            719373, 719374],
           dtype='int64', name='phone_id', length=719374)

In [126]:
final=pd.merge(agt,prprpr,on='Id', how='left')

In [129]:
final.drop('Predicted', axis=1, inplace=True)
final['Predicted']=final[0]
final.drop(0, axis=1, inplace=True)

In [135]:
final.to_csv('submiss.csv')
with open('/content/drive/My Drive/submission.csv', 'w') as f:
   final.to_csv(f,index=False)

In [137]:
pd.read_csv('/content/drive/My Drive/submission.csv')

            Id  Predicted
0        19843          1
1       471287          0
2       342522          0
3       457799          1
4       233778          1
...        ...        ...
214604   16841          1
214605   69348          1
214606  594974          1
214607  320024          1
214608   23853          1

[214609 rows x 2 columns]

In [109]:
agt=pd.read_csv('/content/drive/My Drive/гуд муд/sample_submission_from_kaggle_change_sep.csv')

In [99]:
agt=pd.read_csv('/content/drive/My Drive/гуд муд/train/train.csv')

In [102]:
agt['phone_id'].unique().shape

(284449,)

In [56]:
a=datetime.date(2020,1,1)

phone_id  1            2            3       ...  719372       719373   719374
price1       0.0  6730.400019     0.000000  ...     0.0     0.000000     0.00
price2       0.0  2622.290012     0.000000  ...     0.0     0.000000     0.00
price3       0.0  4716.760031  6324.900032  ...     0.0     0.000000     0.00
price4       0.0     0.000000     0.000000  ...     0.0     0.000000     0.00
price5       0.0  5684.450022  3919.770002  ...     0.0     0.000000     0.00
price6       0.0     0.000000     0.000000  ...     0.0     0.000000     0.00
price7       0.0     0.000000  1362.600008  ...     0.0     0.000000     0.00
price8       0.0     0.000000     0.000000  ...     0.0  3175.430004  1448.93

[8 rows x 719374 columns]

In [24]:
file1=pd.read_csv('/content/drive/My Drive/train_try.csv')
file1

         Unnamed: 0  phone_id       price1  ...  price6  price7       price8
0                 0         1     0.000000  ...     0.0     0.0     0.000000
1                 1         2  3827.990007  ...     0.0     0.0     0.000000
2                 2         2  2902.410011  ...     0.0     0.0     0.000000
3                 3         2     0.000000  ...     0.0     0.0     0.000000
4                 4         2     0.000000  ...     0.0     0.0     0.000000
...             ...       ...          ...  ...     ...     ...          ...
2766719     2766719    719370     0.000000  ...     0.0     0.0  2417.999990
2766720     2766720    719371     0.000000  ...     0.0     0.0     0.000000
2766721     2766721    719372     0.000000  ...     0.0     0.0     0.000000
2766722     2766722    719373     0.000000  ...     0.0     0.0  3175.430004
2766723     2766723    719374     0.000000  ...     0.0     0.0  1448.930000

[2766724 rows x 10 columns]

In [35]:
tmp=pd.read_csv('/content/drive/My Drive/гуд муд/train/train.csv')

In [30]:
tmp.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1159576 entries, 0 to 1159575
Data columns (total 3 columns):
 #   Column              Non-Null Count    Dtype
---  ------              --------------    -----
 0   phone_id            1159576 non-null  int64
 1   order_completed_at  1159576 non-null  object
 2   target              1159576 non-null  float64
dtypes: float64(1), int64(1), object(1)
memory usage: 26.5+ MB

In [37]:
tmp.head(8)

   phone_id order_completed_at  target
0     19843            2020-01     1.0
1     19843            2020-02     0.0
2     19843            2020-03     0.0
3     19843            2020-04     0.0
4     19843            2020-05     0.0
5     19843            2020-06     0.0
6     19843            2020-07     1.0
7    173074            2020-05     0.0

In [54]:
import datetime
a=datetime.date(2020,1,1)
c[a]=c[1]

TypeError: ignored

In [48]:
c=file1.T

In [53]:
data=my_group[]

Unnamed: 0       1.000000
phone_id         2.000000
price1        3827.990007
price2           0.000000
price3           0.000000
price4           0.000000
price5           0.000000
price6           0.000000
price7           0.000000
price8           0.000000
Name: 1, dtype: float64